.cart {
  background-color: #f7f8f9;
  flex: 1 1 auto;
}

.cart__container {
  display: flex;

  max-width: 1300px;
  margin: 0 auto;
  gap: 20px;
}
.cart__product {
  display: flex;
  flex-direction: column;
}
.cart__btn{
	font-family: 'GTEestiProText';
	background-color: #f9829c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.cart__product_header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.cart__order {
  display: flex;
  gap: 20px;
}
