.cnt{
	display: flex;
	gap: 4px;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	cursor: pointer;
	img{
		width: 25px;
	}
}
.search__btn {
  border: none;
  background-color: #ffa426;
  &:hover {
    cursor: pointer;
  }
}

.favorites__btn {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  &:hover {
    cursor: pointer;
  }
   img {
    width: 29px;
  }
}

.btn_container {
  display: flex;
}

.cart__btn {

  background-color: transparent;
  border: 0;
  &:hover {
    cursor: pointer;
  }
  //img {
  //  width: 25px;
  //}
}
.btn__counter {
  font-weight: 600;
  font-size: 12px;
	line-height: 1.4;
}
.profile__btn {
  background-color: transparent;
  border: 0;
  &:hover {
    cursor: pointer;
  }
  //img {
  //  width: 25px;
  //}
}

.singup__btn {
  background-color: #ffa426;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  font-family: 'GTEestiProText';
	line-height: 18px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.2px;
  &:hover {
    cursor: pointer;
  }
}
.singin__btn {
  background-color: #fa6a8c;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
  font-family: 'GTEestiProText';
	line-height: 18px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.2px;
  &:hover {
    cursor: pointer;
  }
}

.like__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
  }
}


.btn__text{
	display: flex;
	align-items: flex-end;
}