.item__cnt {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 5px;
  position: relative;
  // flex: 1 1 auto;
  flex-wrap: wrap;
  border: 0.5px solid rgb(228, 223, 223);
  border-radius: 8px;
}
.itemWr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 auto;
}
.favorites_btn {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    cursor: pointer;
  }
}
.add__favorites_btn {
  background-image: url('./addfavorites.png');
}
.delete__favorites_btn {
  background-image: url('./favorites.png');
}
.cnt__img {
  cursor: pointer;
}
.tags__btn {
}
.tags__sale_btn {
  padding: 5px 10px;
  position: absolute;
  border-radius: 5px;
  background-color: red;
  border: none;
  color: aliceblue;
  left: 10px;
}
.like__cnt {
  //padding: 5px 10px;
  position: absolute;
  //top: 10px;
  //left: 200px;
  right: 5px;
  border: none;
  background: transparent;
}
.tags__new_btn {
}

.imgg {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.current__price {
  display: flex;
  flex: 1;
  align-items: flex-end;
}
.current__price_red {
  color: red;
}
.current__price_line_through {
  text-decoration: line-through;
}
.discount__price {
  flex: 1;
}
.product__wight {
}
.product__name {
  max-width: 250px;
}
.product__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.rating__btn {
  background: transparent;
  border: none;
}
.item__products_btn {
  background-color: #ffa426;
  border: none;
  color: aliceblue;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.cart__count {
  display: flex;
}
