.cart__order{
	
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;


}
.btn__order{
	font-family: 'GTEestiProText';
	padding: 15px 50px;
	background-color: #10C44C;
	color: #fff;
	font-weight: 700;
	border: none;
	border-radius: 8px;
}

.our__cart{
	font-weight: 700;
	font-size: 20px;
}