.cart__container {
  display: flex;
  gap: 50px;
}

.cart__item {
	min-width: 700px;
  display: flex;
  align-items: center;
	justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.cart__img {
  img {
    width: 80px;
  }
}
.cart__product_name {
  width: 200px;
}
.cart__count {
  display: flex;
  gap: 10px;
  align-items: center;
}
.counter {
	display: flex;
	min-width: 20px;
	align-items: center;
	justify-content: center;
}
.cart__btn {
  font-weight: 700;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.cart__btn_delete {
  background-color: #f9829c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
