.new__product {
  flex-grow: 1;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding: 50px 0;
}
.formik {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.field {
  border: none;
  outline: none;
  border: 2px solid #ffa426;
  border-radius: 5px;
  min-height: 20px;
  min-width: 300px;
  padding: 5px;
  &:focus {
    box-shadow: 1px 1px 10px 1px #ffa426;
  }
}

.error {
  color: red;
  font-size: 13px;
}
.formik__btn {
  background-color: #ffa426;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  color: aliceblue;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }
}

.noactive {
  background-color: #b1a9ac;
  &:hover {
    cursor: auto;
  }
}
